.start-panel {
    display: grid;
    grid-template-columns: 50px minmax(170px, 1fr) 900px; /*minmax je spatne*/
}
.start-panel__icons {
    display: grid;
    grid-template-rows: 1fr repeat(6, 50px);

}
.start-panel__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}
.apps--office {

}
.apps--web {

}
.apps--other {

}
.apps__grid {
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: repeat(6, 50px);
}
.app--g2x2 {
    grid-column: span 2;
    grid-row: span 2;
}
.app--g2x1 {
    grid-column: span 2;
    grid-row: span 1;
}
.app--g1x2 {
    grid-column: span 1;
    grid-row: span 2;
}
.app--off-3 {

}
.app--off-4 {

}
.app--off-5 {

}
.app--in-3 {

}
.app--fun-2 {

}
.app--fun-3 {

}